.site {
  display: flex;
  flex-direction: column;
  height: inherit;
  align-items: center;
}

.journalName {
  width: 100%;
  font-size: 14px;
}

.siteName {
  font-size: 18px;
  font-family: "Trebuchet MS", "Tahoma", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}

.authorization {
  max-width: 150px;
  text-align: "left";
  overflow-wrap: break-word;
}

.login {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: darkcyan;
  }
}
